.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: darkgoldenrod;
  border-radius: 10px;
  margin: 2px;
}

img {
  width: 20%;
  height: 30%;
  padding: 2px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: burlywood;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;

  justify-content: center;

  color: rgb(242, 239, 235);

  text-emphasis-position: ;
  border-radius: 10px;
  margin: 2px;
  align-content: center;
}

.App-body {
  background-image: url("bg.jpg");
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: peru;
  border-radius: 10px;
  margin: 3px;
  color: chocolate;
}
a {
  color: chartreuse;
}
